@import "reset.css";
@import "scrollbar.css";
@import "transition.css";

/**********************************  基础样式 **********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

html, body {
    color: var(--text-color);
    background-color: var(--bg-color);
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#app, body, html {
    width: 100%;
    height: 100%;
}

#app {
    overflow-x: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

/**********************************  ant design spin **********************************/
.ant-spin-nested-loading {
    width: 100%;
    height: 100%;
}

.ant-spin-container {
    width: 100%;
    height: 100%;
}

.ant-spin {
    min-height: 100%;
}